doctype html
html
  head
    title= title + ' - '
      | #{process.env.APP_NAME || 'Totodile'}
    link(rel='stylesheet', href='css/app.css')
    link(rel="shortcut icon", href="img/icons/favicon.ico", type="image/x-icon")
  body
    .container.pt-4
      ul.list-inline
        li.list-inline-item 
          a(href="/") Home
        li.list-inline-item 
          a(href="/login") Login
        li.list-inline-item
          a(href="/register") Register
      block content
