doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/app.css')
  body
    .container.pt-4
      ul.list-inline
        li.list-inline-item 
          a(href="/") Home
        li.list-inline-item 
          a(href="/login") Login
        li.list-inline-item
          a(href="/register") Register
      block content
