ul.list-inline
  li.list-inline-item 
    a(href='/') Home
  if (!user)
    li.list-inline-item 
      a(href='/login') Login
    li.list-inline-item
      a(href='/register') Register
  if (user)
    li.list-inline-item
      form#logout(action='/logout?_method=DELETE', method='POST')
        a(href='javascript:{}', onclick="document.getElementById('logout').submit(); return false;") Logout
