extends ../layout

block content
  h1.mb-4= title
  .row
    .col-md-6
      if (messages.error)
        .alert.alert-danger
          ul.mb-0.pl-4
            li= messages.error
      form(action='', method='POST')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', required)
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password', required)
        .form-group.form-check
          input.form-check-input#keep(type='checkbox', name='keep')
          label.form-check-label(for='keep') Keep me logged in
        button.btn.btn-success(type='submit') Login
