extends ../layout

block content
  h1.mb-4= title
  .row
    .col-md-6
      form(action='', method='POST')
        .form-group
          label(for='name') Name
          input.form-control#name(type="text", name="name")
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email')
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password')
        .form-group
          label(for='confirm') Confirm password
          input.form-control#confirm(type='password', name='confirm-password')
        button.btn.btn-success(type='submit') Register
