extends ../layout

block content
  h1.mb-4= title
  .row
    .col-md-6
      if (messages.error)
        .alert.alert-danger
          ul.mb-0.pl-4
            each error in messages.error
              li= error
      form(action='', method='POST')
        .form-group
          label(for='name') Name
          input.form-control#name(type="text", name="name", required)
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', required)
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password', required)
        .form-group
          label(for='confirm') Confirm password
          input.form-control#confirm(type='password', name='confirm', required)
        button.btn.btn-success(type='submit') Register
